.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    
    -webkit-mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
    mask: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/18515/heart.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    cursor: pointer;
  }
  
  .icon-red { background-color: rgb(223, 182, 182);  }

  .info {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
  }